# Backend
PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
ADMIN_USERNAME=admin
ADMIN_PASSWORD=cambiar_esta_password
JWT_SECRET=coloca_un_secreto_largo_y_unico

# Frontend (opcional: si usas proxy de Vite no necesitas configurarlo en desarrollo)
VITE_API_URL=http://localhost:4000
